# torch

# cos tam sudo apt install python3.10-venv
# potem curl -LsSf https://hf.co/cli/install.sh | bash
# potem login hf auth login token

torch==2.12.0
torchvision==0.27.0
numpy==2.2.6
pandas==2.3.3
scikit-learn==1.7.2
scikit-image==0.25.2
matplotlib==3.10.6
tqdm==4.67.1
transformers==5.12.0